* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

iframe {
    width: 100%;
    height: 450px;
    clear: both;
    overflow-y: scroll;
    padding: 0px;
    border: 0px;
}


.services-section {
    background: #fff;
    background-size: cover;
    padding: 0px;
}

.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: 0px;
    padding: 0 0px;
    overflow: hidden;
}

.section-title {
    text-align: center;
    color: rgb(20, 20, 20);
    text-transform: uppercase;
    font-size: 30px;
    margin: 0px;
}

.border {
    width: 260px;
    height: 3px;
    background: #25bbe9;
    margin: 10px auto;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box {
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: rgb(20, 20, 20);
    cursor: pointer;
}

.service-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 3px solid #d537f1;
    color: #474747;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
}

.service-icon i {
    line-height: 75px;
    transform: rotate(-45deg);
    font-size: 36px;
}

.service-box:hover .service-icon {
    background: #dbdbdb;
    color: rgb(22, 22, 22);
}

.service-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-desc {
    font-size: 14px;
}

@media screen and (max-width:960px) {
    .service-box {
        max-width: 45%;
    }
}

@media screen and (max-width:768px) {
    .service-box {
        max-width: 50%;
    }
}

@media screen and (max-width:480px) {
    .service-box {
        max-width: 100%;
    }
}